@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&family=Poppins&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&family=Mulish&family=Outfit:wght@300;400;500;700&family=Poppins&display=swap'); */

.body{
    background-color:#131316;
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.x{
    animation-delay: 0.2s;
}
.Section1{
  display: grid;
  align-items: center;
  place-items: center;
  min-height: 80vh;
}
.Section{
    display: grid;
    align-items: center;
    place-items: center;
    min-height: 100vh;
}
.box{
    background-color:grey;
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 20px;
    margin: 0px 20px 10px 0px;

}
.boxmain{
    display:-webkit-inline-box;
    background-color: green;
    width:100%;
    /* display: grid; */
    /* align-items: center; */
    place-items: center;

}
.text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
.animate-bounce {
    animation: bounce 2s ease infinite;
  }
  @keyframes animate-bounce {
      70% { transform:translateY(0%); }
      80% { transform:translateY(-15%); }
      90% { transform:translateY(0%); }
      95% { transform:translateY(-7%); }
      97% { transform:translateY(0%); }
      99% { transform:translateY(-3%); }
      100% { transform:translateY(0); }
  }

.xx{
    animation: morph 8s ease-in-out infinite;
background-image: url("./pic.jpeg");
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
border: 3px solid #2d2e32;
border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
height: 23rem;
position: relative;
transition: all 1s ease-in-out;
width: 23rem;
}
.xxx{
  animation: morph 8s ease-in-out infinite;
background-image: url("./pic2.jpeg");
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
border: 3px solid #2d2e32;
border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
height: 23rem;
position: relative;
transition: all 1s ease-in-out;
width: 23rem;
}

.biotext{
  padding-top:15vh;
}
.menu-tabs{
    text-align: right;
}

.boxLayout{
    background-color:#313136;
    height: 30rem;
    width:80rem;
    border-radius:30px;
    color:#ffffff;
    text-align: center;
    padding:50px;
}
b{
  font-weight:700;
}

  .move{
    margin-top: 30px;
    animation: move 3s infinite;
    cursor: pointer;
  }
  
  @keyframes move {
    0%, 100% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(-20px);
      }
      50% {
        transform: translateY(0);
      }
      75% {
        transform: translateY(-20px);
      }

  }
.hi{
  margin-top: 30px;
  animation: moves 1s infinite;
  /* text-align: center; */
  cursor: pointer;
}

@keyframes moves {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    /* transform: translateX(-10px); */
  }
  50% {
    /* transform: translateX(-20px); */
  }
  75% {
    transform: translateX(20px);
  }
}
  .navbarTabs{
    cursor: pointer;
    margin:10px;
    font-size: 20px;
  }
  .outerBox{
    background-color: #313136;
    color: #ffffff;
    margin:10px;
    border-radius: 10px;
    /* padding: 10px; */
    padding: 0px !important;
    min-height: 100px;
    text-align: center;
  }
  .outerBox2{
    background-color: #313136;
    color: #ffffff;
    margin:10px;
    border-radius: 10px;
    /* padding: 10px; */
    height: 60vh;
    text-align: center;
  }
  .pic{
    background-image:url("./airplane.jpg");
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    height: 17rem;
    width: auto;
  }
  .dbgpt{
    background-image:url("./dbgpt.png");
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    height: 17rem;
    width: auto;
  }
  .pictalk{
    background-image:url("./pictalk.png");
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    height: 17rem;
    width: auto;
  }
  .dmvchat{
    background-image:url("./dmvchat.png");
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    height: 17rem;
    width: auto;
  }
  .github{
    background-image: url("./github-logo.png");
    background-position: 50%;
    background-size: cover;
    max-height: 50px;
    cursor: pointer;
    max-width:50px;
    cursor: pointer;
  }
  .twitter{
    background-image:url("./twitters.webp");
    background-position: 50%;
    background-size: cover;
    height: 17rem;
    cursor: pointer;
    width: auto;
  }
  .aws{
    background-image:url("./aws.png");
    background-position: 50%;
    background-size: cover;
    padding-top: 10rem;
    height: 90%;
    cursor: pointer;
    width: 100%;
  }
  .GA{
    background-image:url("./GA.png");
    background-position: 50%;
    background-size: cover;
    padding-top: 10rem;
    cursor: pointer;
    height: 90%;
    width: 100%;
  }
  .ml{
    background-image:url("./ml.png");
    background-position: 50%;
    background-size: cover;
    height: 90%;
    cursor: pointer;
    width: 100%;
  }
  .robo{
    background-image:url("./robot.jpg");
    background-position: 50%;
    background-size: cover;
    height: 17rem;
    width: auto;
  }
  .contactDiv{
    /* background-color: aqua; */
    /* display: grid;
    align-items: center;
    place-items: center;
    min-height: 100vh;
    border: thick double #32a1ce; */

    background-color:#313136;
    height: 20rem;
    width:80rem;
    border-radius:30px;
    color:#ffffff;
    text-align: center;
    padding:50px;
    border: thick double white;
  }
  .contactPara{
    text-align: center;
  }
  .githubbtn{
    margin:10px;
  }
  .wave{
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  @keyframes wave-animation {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
  }
  .btnclass{
    /* background-color:red; */
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    border-color: transparent;

  }
  .btn-primary:hover{
    background-color:white;
  }

  /* GRADIENT CSS - https://cssgradient.io/gradient-backgrounds/  */
  .gradient{
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
      color: transparent;
  }

  .gradient2{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    -webkit-background-clip: text;
    color: transparent;
  }
  .gradient3{
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  .gradient4{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  .gradient5{
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  button:hover{
    background-color: black;
    color: white;
  }

  .navbarTabs:hover{
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  /* Mobile Devices */
@media screen and (max-width: 767px) {
    .boxLayout{
        background-color:#313136;
        width:25rem;
        height:auto;
        border-radius:30px;
        color:#ffffff;
        text-align: center;
        padding:20px;
    }
    .contactDiv{
        background-color:#313136;
        /* height: 20rem; */
        width:25rem;
        border-radius:30px;
        color:#ffffff;
        text-align: center;
        padding:50px;
        border: thick double white;
      }
  }